<div class="login__wrapper">
    <div class="login">
        <label class="field">
            <p class="field__name">Логин</p>
            <input type="text" class="field__input">
        </label>
        <label class="field">
            <p class="field__name">Пароль</p>
            <input type="password" class="field__input">
        </label>
        <div class="btn">Войти</div>
        <div class="btn" routerLink="/register" routerLinkActive="active">Создать аккаунт</div>
    </div>
</div>