.login__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: block;
  margin-bottom: 20px;
}

.btn:not(:last-child) {
  margin-bottom: 10px;
}
