.group {
  margin-top: 30px;
}

.group__name {
  font-size: 20px;
  font-weight: 600;
}

.lesson {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}

.lesson__number {
  color: #707070;
  font-size: 20px;
  font-weight: 300;
  width: 35px;
  height: 35px;
  border: 1px solid #ebefef;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  margin-right: 30px;
}

.lesson__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
