<div class="header">
    <div class="header__left">
        <img src="../../assets/logo.png" alt="Логотип" class="header__logo header__item">
        <div class="btn header__item" routerLink="/overview" routerLinkActive="active">Назад</div>
        <div class="btn header__item">Создать</div>
    </div>
    <div class="header__right">
        <p class="header__user">Земляной Данил</p>
        <div class="btn danger">Выйти</div>
    </div>
</div>
<div class="main">
    <p class="main__title">Создание нового расписания</p>
    <div class="main__inner">
        <div class="group">
            <p class="group__name">1ИСИП-18-3</p>
            <div class="lesson">
                <p class="lesson__number">1</p>
                <div class="lesson__info">
                    <label class="field">
                        <p class="field__name">Название предмета</p>
                        <input type="text" class="field__input" placeholder="Математика">
                    </label>
                    <label class="field">
                        <p class="field__name">Преподаватель</p>
                        <input type="text" class="field__input" placeholder="Золина Е.В.">
                    </label>
                    <label class="field">
                        <p class="field__name">Кабинет</p>
                        <input type="text" class="field__input" placeholder="404">
                    </label>
                    <label class="field">
                        <p class="field__name">Заметки</p>
                        <input type="text" class="field__input" placeholder="Ваши заметки">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>