@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=cyrillic");

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans";
  margin: 0;
  padding: 20px 100px;
  box-sizing: border-box;
  color: #363636;
}

p {
  margin: 0;
}

.btn {
  border-radius: 4px;
  border: 1px solid #4fc1e9;
  padding: 8px 14px;
  color: #4fc1e9;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.btn.danger {
  border: 1px solid #ed5565;
  color: #ed5565;
}

.btn:hover {
  color: #fff;
  background-color: #4fc1e9;
}

.btn.danger:hover {
  background-color: #ed5565;
}

.field__name {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.field__input {
  box-shadow: 0 0 40px rgba(235, 239, 239, 0.75);
  border-radius: 6px;
  background-color: #ffffff;
  font-family: "Open Sans";
  color: #bdbdbd;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 15px;
  outline: none;
  border: none;
}

.field__input::placeholder {
  color: #bdbdbd;
  font-size: 18px;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__item {
  margin-right: 50px;
}

.header__api {
  position: relative;
  cursor: pointer;
}

.header__api:hover:before {
  right: 0;
}

.header__api:before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -6px;
  background: #363636;
  height: 1px;
  transition-property: right;
  transition: all 0.3s ease-out;
}

.header__logo {
  width: 100px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__user {
  padding-left: 35px;
  position: relative;
  margin-right: 40px;
}

.header__user:before {
  content: "";
  background-image: url(./assets/user.svg);
  width: 18px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0;
}

.main {
  margin-top: 60px;
}

.main__inner {
  margin-top: 40px;
}

.main__title {
  font-size: 20px;
  font-weight: 600;
}
