<div class="header">
    <div class="header__left">
        <img src="../../assets/logo.png" alt="Логотип" class="header__logo header__item">
        <div class="btn header__item">Создать новое расписание</div>
        <div class="header__api header__item">API Ключ</div>
    </div>
    <div class="header__right">
        <p class="header__user">Земляной Данил</p>
        <div class="btn danger">Выйти</div>
    </div>
</div>
<div class="main">
    <p class="main__title">Список администрируемых расписаний</p>
    <div class="main__inner">
        <div class="timetable">
            <p class="timetable__date">12.09.2019</p>
            <div class="btn" routerLink="/edit" routerLinkActive="active">Редактировать</div>
        </div>
        <div class="timetable">
            <p class="timetable__date">12.09.2019</p>
            <div class="btn" routerLink="/edit" routerLinkActive="active">Редактировать</div>
        </div>
    </div>
</div>